@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .btn {
    @apply text-gray-500 h-10 p-2 rounded-full hover:bg-gray-100;
  }
}
